@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: $soft-blue;
    font-weight: 300;
}

body {
    background-color: $very-dark-blue-main-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $white;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $cyan;
    }
}

.card {
    width: 330px;
    height: 550px;
    background-color: $very-dark-blue-card-bg;
    border-radius: 20px;
    padding: 25px;
    overflow: hidden;
    box-shadow: 0 25px 5px 15px $very-dark-blue-card-shadow;

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 22px;
        cursor: pointer;

        a {
            display: block;
            width: 100%;
            height: 280px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hover {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $cyan-start;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        &:hover .hover {
            opacity: 1;
            background: $cyan-finish;
        }
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .card-description {
        font-size: 0.9rem;
        line-height: 1.4rem;
        margin-bottom: 16px;
    }

    .deal-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid $very-dark-blue-line;
        margin-bottom: 16px;

        p {
            display: flex;
            align-items: center;
        }

        .price {
            color: $cyan;
            font-weight: 600;
            font-size: 0.9rem;
            
            img {
                margin-right: 0.4rem;
            }
        }

        .time-left {
            font-size: 0.9rem;

            img {
                margin-right: 0.4rem;
            }
        }
    }

    .author-wrapper {
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        img {
            width: 2rem;
            border: 1px solid $white;
            border-radius: 50%;
            margin-right: 0.8rem;
        }
    }
}

@media screen and (min-width: 768px){
    .card {
        box-shadow: 0 25px 3px 15px $very-dark-blue-card-shadow, 0 25px 3px 45px $very-dark-blue-card-shadow2;
    }
}